# dépendances
node_modules/

# Next.js
.next/
out/
next-env.d.ts
*.tsbuildinfo

# environnement
.env

# base de données locale (développement)
prisma/dev.db
prisma/dev.db-journal

# fichiers téléversés par le professeur (développement)
stockage/

# divers
.DS_Store
